header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background: linear-gradient(6deg, #15151e 0%, #28283a 55%, #424261 85%);
  color: white;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .f1-dashboard {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      background-color: #4d4d6d;
    }
  }

  ul {
    font-weight: bold;
    list-style: none;
    align-items: baseline;
    display: flex;
    gap: 10px;

    li {
      cursor: pointer;
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      background-color: #ff1e00;
      box-shadow: 1px 1px 2px rgb(0, 0, 0);

      &:hover {
        filter: brightness(85%);
        transform: scale(1.05);
        box-shadow: 2px 2px 2px rgb(0, 0, 0);
      }
    }
  }
}
